body{
    margin:0px; 
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.kmtopbanner {

    font: normal 11px/150% Arial, Helvetica, sans-serif; 
    overflow: hidden; 		
    background-color:rgb(253, 253, 246); ;

    /*background: linear-gradient(to right, #ff9933 0%, #f8cfa5 50%, #cc3300 100%);*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align:center;
    vertical-align:middle;
    color:rgb(35, 48, 90);

    height: 60px;
    width: 100%;
}

.topcontainer {
    display: flex;

    /* Misc */
    border: 1px solid #cbd5e0;
    height: 100%;
    width: 100%;
}
.left_column {
    /* Initially, the left takes 3/4 width */
    width: 50%;
    /* Misc */
    align-items: left;
    /*display: flex;*/
    justify-content: left;
    
}
.resizer {
    background: linear-gradient(to right, #ff9933 0%, #f8cfa5 50%, #cc3300 100%);
    cursor: ew-resize;
    height: 100%;
    width: 5px;
}
.right_column {
    /* Take the remaining width */
    flex: 1;
    /* Misc */
    align-items: center;
    display: flex;
    justify-content: center;
}
.km_notes{
    font-family: Arial;
    font-size: 10pt;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    bottom: 0px;
    border-top: 3px solid #cbd5e0;
}
.km_notes h2{
    font-size: 10pt;
}

.themeselect {
    font-family: Arial;
    font-size: 11pt;
    z-index: 2;
    position:absolute;
    top: 0px;
    right: 10px;

    height: 25px;

    justify-content: left;
    align-items: left;
    border: 0px solid #45485f;
}
.km_svgtitle{
    font-family: Arial;
    font-size: 11pt;
    position:absolute;
    height:20px;
    width: 100%;
    display: flex;
    background-color:rgb(212, 219, 241);
    /* border: 1px solid #2a5788;*/
    z-index: 0;

  }
.km_svg_display{
    top: 0px;
    width: 100%; 
    
  }
.back_to_home{
    font-size: 10pt;
    text-align:left; 
    margin-left:5px;
    margin-top: 5px;
}
.top_title{
    text-align:center; 
    font-size:14pt; 
}
.km_Author{
    margin-top: 5px;
    text-align:center; 
    font-size:10pt;
}